@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
}

:root{
  --videoLength: 50rem;
  --default-background: #282c34;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  background: var(--default-background);

  gap: 2rem;
}
.App p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
}

.roboflowCam{
  min-width: var(--videoLength);
  max-width: var(--videoLength);
  min-height: 80vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roboflowCam video{
  position: absolute;
  max-width: var(--videoLength);
}
.roboflowCam canvas{
  position: absolute;
  z-index: 1;
  max-width: var(--videoLength);

}