@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*{
  padding: 0;
  margin: 0;
}

:root{
  --videoLength: 50rem;
  --default-background: #282c34; 
  --default-background-2: #202634;
  --default-background-3: #1a1f2a; 
  --moonstone: #A8D0DB;
  --moonstone-dark: #61A9BD;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  background: var(--default-background);

  gap: 2rem;
  position: relative;
}
.App p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
}

.roboflowCam{
  min-width: var(--videoLength);
  max-width: var(--videoLength);
  min-height: 80vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roboflowCam video{
  position: absolute;
  max-width: var(--videoLength);
}
.roboflowCam canvas{
  position: absolute;
  z-index: 1;
  max-width: var(--videoLength);
}

.modal-popup{
  display: flex;
  flex-direction: column;

  width: 55rem;
  max-width: 120rem;

  border-radius: 0.5rem;
  height: 30rem;

  border: 0.1rem solid var(--moonstone-dark);
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  gap: 2.5rem;
  
  position: absolute;
  z-index: 1;
  background: var(--moonstone);
}
.modal-popup > img{
  max-width: 5rem;
  transform: rotate(0deg);
  transition: 400ms ease-in-out;

  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}
.modal-popup > img:hover{
  transform: rotate(35deg);
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.modal-popup-hero{
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
  font-size: 1.3rem;
}
.modal-popup-hero p{
  font-size: 1.25rem;
  text-align: left;
}
.model-popup video{
  width: 10rem;
}

.modal-slide-in{
  animation: slideIn 550ms ease-in-out;
}

@keyframes slideIn {
  from{
    opacity: 0.5;
    transform: translateY(5rem);
  }
  to{
    opacity: 1;
    transform: translateY(0rem);
  }
}

mark {
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  background: var(--default-background);
}
.main-container {
  max-width: 80vw;
}

.header {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.header-image {
  max-width: 2.5rem;
  max-height: 2.5rem;

  transform: rotate(0deg);
  transition: 250ms ease-in-out;
}
.header-image:hover {
  cursor: pointer;
  transform: rotate(30deg);
  transition: 250ms ease-in-out;
}
.header-branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-branding p {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 1.75rem;

  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.content-hero {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 65vh;
}
.content-hero-text {
  font-family: 'League Spartan', sans-serif;
  color: white;
}
.content-hero-text-billboard {
  font-size: 4rem;
  font-weight: 600;
}
.content-hero-text-subtext {
  font-size: 1.75rem;
}
.content-hero img { 
  max-width: 30rem;
}
@media (max-width: 30rem) {
  
  .content {
    gap: 10rem;
  }
  .content-hero {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .content-hero-text-billboard {
    font-size: 2.75rem;
  }
  .content-hero-text-subtext {
    font-size: 1.5rem;
  }
  .content-hero img {
    max-width: 20rem;
  }
}

.announcement-background {
  background: var(--default-background-2);
  border-radius: 1rem;

  font-family: 'League Spartan', sans-serif;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0rem;
  min-height: 20rem;
}
.announcement-header {
  font-size: 3rem;
  font-weight: 600;

  max-width: 80%;
}
.announcement-subtext {
  font-size: 1.5rem;
  line-height: 3rem;

  max-width: 80%;
  text-align: center;
}
@media (max-width: 30rem) {
  .announcement-header {
    font-size: 2.5rem;
  }
  .announcement-subtext {
    font-size: 1.35rem;
  }
}

.feature {
  font-family: 'League Spartan', sans-serif;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.feature-image {
  max-width: 30rem;
  border-radius: 1rem;
}
.feature-text-header {
  font-size: 3rem;
  font-weight: 600;
}
.feature-text-subtext {
  font-size: 1.5rem;
  line-height: 3rem;
}
@media (max-width: 30rem) {
  .feature {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .feature-image {
    max-width: 100%;
  }
}

.content-explosion{
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}
.content-explosion-header {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 5.25rem;
  font-weight: 600;
}
.content-explosion-subtext {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 2.75rem;
}

.content-explosion-two {
  display: flex;
  gap: 10rem;
  flex-direction: row;  
  align-items: center;
}
.content-explosion-two img {
  max-width: 25rem;
}
.content-explosion-two-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content-explosion-two-text-header {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 4.5rem;
  font-weight: 600;
}
.content-explosion-two-text-subtext {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (max-width: 30rem) {
  .content-explosion-header {
    font-size: 4.5rem;
  }
  .content-explosion-subtext {
    font-size: 2.25rem;
  }
  .content-explosion-two {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .content-explosion-two img {
    max-width: 100%;
  }
  .content-explosion-two-text-header {
    font-size: 3.75rem;
  }
  .content-explosion-two-text-subtext {
    font-size: 2.5rem;
  }
}


.content-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.content-demo video {
  max-width: 40rem;
}
.content-demo-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content-demo-text-header {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 5.5rem;
}
.content-demo-text-subtext {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 2.5rem;
  line-height: 3.25rem;
}
@media (max-width: 30rem) {
  .content-demo {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .content-demo-text-header {
    font-size: 4rem;
  }
  .content-demo-text-subtext {
    font-size: 2rem;
  }
  .content-demo video {
    max-width: 100%;
  }
}

.content-purchase {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background: var(--default-background-2);
  border-radius: 2rem;
  min-height: 55vh;
  flex-direction: column;
}
.content-purchase-branding {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.content-purchase-branding-image {
  max-width: 7rem;
  max-height: 7rem;
}
.content-purchase-branding p {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 4.5rem;
  font-weight: 600;
}
.content-purchase-button {
  background: var(--default-background-3);
  color: white;
  text-decoration: none;
  font-family: 'League Spartan', sans-serif;

  font-size: 2.75rem;
  border-radius: 1.5rem;
  padding: 1rem 5rem;
  font-weight: 500;
}
@media (max-width: 30rem) {
  .content-purchase {
    gap: 2rem;
    min-height: 15rem;
  }
  .content-purchase-branding-image {
    max-width: 3rem;
    max-height: 3rem; 
  }
  .content-purchase-branding p {
    font-size: 2rem;
  }
  .content-purchase-button {
    font-size: 1.5rem;
    padding: 0.75rem 3rem;
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}
footer p {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 1.25rem;
  margin-right: 1rem;
}