@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*{
  padding: 0;
  margin: 0;
}

:root{
  --videoLength: 50rem;
  --default-background: #282c34; 
  --default-background-2: #202634; 
  --moonstone: #A8D0DB;
  --moonstone-dark: #61A9BD;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  background: var(--default-background);

  gap: 2rem;
  position: relative;
}
.App p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
}

.roboflowCam{
  min-width: var(--videoLength);
  max-width: var(--videoLength);
  min-height: 80vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roboflowCam video{
  position: absolute;
  max-width: var(--videoLength);
}
.roboflowCam canvas{
  position: absolute;
  z-index: 1;
  max-width: var(--videoLength);
}

.modal-popup{
  display: flex;
  flex-direction: column;

  width: 55rem;
  max-width: 120rem;

  border-radius: 0.5rem;
  height: 30rem;

  border: 0.1rem solid var(--moonstone-dark);
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  gap: 2.5rem;
  
  position: absolute;
  z-index: 1;
  background: var(--moonstone);
}
.modal-popup > img{
  max-width: 5rem;
  transform: rotate(0deg);
  transition: 400ms ease-in-out;

  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}
.modal-popup > img:hover{
  transform: rotate(35deg);
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.modal-popup-hero{
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
  font-size: 1.3rem;
}
.modal-popup-hero p{
  font-size: 1.25rem;
  text-align: left;
}
.model-popup video{
  width: 10rem;
}

.modal-slide-in{
  animation: slideIn 550ms ease-in-out;
}

@keyframes slideIn {
  from{
    opacity: 0.5;
    transform: translateY(5rem);
  }
  to{
    opacity: 1;
    transform: translateY(0rem);
  }
}

.container {
  display: flex;
  justify-content: center;
  background: var(--default-background);
}
.main-container {
  max-width: 80vw;
}

.header {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.header-image {
  max-width: 2.5rem;
  max-height: 2.5rem;
}
.header-branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-branding p {
  font-family: 'League Spartan', sans-serif;
  color: white;
  font-size: 1.75rem;

  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.content-hero {
  display: flex;
  justify-content: center;
  align-items: center;

}
.content-hero-text {
  font-family: 'League Spartan', sans-serif;
  color: white;
}
.content-hero-text-billboard {
  font-size: 4rem;
  font-weight: 600;
}
.content-hero-text-subtext {
  font-size: 1.75rem;
}
.content-hero img { 
  max-width: 30rem;
}

.announcement-background {
  background: var(--default-background-2);
  border-radius: 1rem;

  font-family: 'League Spartan', sans-serif;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0rem;
}
.announcement-header {
  font-size: 3rem;
  font-weight: 600;

  max-width: 80%;
}
.announcement-subtext {
  font-size: 1.5rem;
  line-height: 3rem;

  max-width: 80%;
  text-align: center;
}

.feature {
  font-family: 'League Spartan', sans-serif;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.feature-image {
  max-width: 30rem;
  border-radius: 1rem;
}
.feature-text-header {
  font-size: 3rem;
  font-weight: 600;
}
.feature-text-subtext {
  font-size: 1.5rem;
  line-height: 3rem;
}